{% extends 'wordskill/base.html' %}
{% load static %}

  {% block head %}
    <title>wordSkill-Login</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static '/css/accounts.css' %}">
  
  {% endblock %}

  {% block content %}
      <div class="form-signin">        
      <form method="POST" action="">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
          <img class="mb-3 " src="{% static 'images/icons/logo.png' %}" alt="" width="120" height="90">  
        </div>
        <p class="h3 mb-3 font-weight-normal text-center">PLEASE SIGN IN</p>
        <label for="username" class="sr-only">Email address</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

      </form>
      <br>
          <div class="text-center">
            Don't have an account? <a href="{% url 'accounts:register' %}" class="ml-2">Sign Up</a>
          </div>
      {% for message in messages %}
          <div class="alert alert-danger">
          <strong>{{message}}</strong> 
        </div>
        {% endfor %}

        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-{{current_year}}</p>
    </div>
  {% endblock %}