{% extends 'wordskill/base.html' %}
{% load static %}

	{% block head %}
		<title>wordSkill-Signup</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static '/css/accounts.css' %}">
	{% endblock %}

	{% block content %}
	
	<div class="form-signup">

					<form method="POST" action="">
            			{% csrf_token %}

            			<div class="d-flex justify-content-center">
				          <img class="mb-3 " src="{% static 'images/icons/logo.png' %}" alt="" width="120" height="90">  
				        </div>
				        <p class="h3 mb-3 font-weight-normal text-center">REGISTER ACCOUNT</p>
							<div class="input-group mb-2 form-items ">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
							   		{{form.username}}
							</div>
							<div class="input-group mb-2 form-items ">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
								</div>
							  		{{form.email}}
							</div>
							<div class="input-group mb-2 form-items ">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
                					{{form.password1}}
							</div>
							<div class="input-group mb-2 form-items ">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								    {{form.password2}}
							</div>

					   		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
					</form>
        			{{form.errors}}
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'accounts:login' %}" class="ml-2">Login</a>
					</div>
				</div>
				<p class="mt-5 mb-3 text-muted text-center">&copy; 2020-{{current_year}}</p>
	</div>
	<script type="text/javascript" src="{% static '/js/accounts.js' %}"></script>
	{% endblock %}
