{% extends 'wordskill/base.html'%}
{% load static %}
{% load comment_tags %}

  {% block head %}
  <title>WordSKill</title>

  <style>
    .card-post {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px
  }

   .card-post,  img {
      border-radius: 5px 5px 5px 5px;
    }

  .content-overflow {
    height: 200px;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: block;
    text-decoration: none;
    text-overflow: ellipsis;
  }

  </style>
  <link rel="stylesheet" type="text/css" href="{% static '/css/home.css'%}">
  {% endblock %}
  {% block content %}
    
     <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'World' %}">World</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'India' %}">India</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'Technology' %}">Technology</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'Design' %}">Design</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'Culture' %}">Culture</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'Business' %}">Business</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'Politics' %}">Politics</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'Opinion' %}">Opinion</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'Travel' %}">Travel</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'Health' %}">Health</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'Style' %}">Style</a>
          <a class="p-2 text-muted" href="{% url 'posts:filter_post' 'Poetry' %}">Poetry</a>
        </nav>
      </div>
    {% if first_post.id %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-10 px-0">
          <h1 class="display-5 font-italic">{{first_post.title}}</h1>
          <p class="lead my-3">Click here to view the content</p>
          <p class="lead mb-0"><a href="{% url 'posts:post' first_post.id %}" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
    </div>
    {% endif %}
      {% if second_post.id %}
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <a href="{% url 'posts:filter_post' second_post.category %}">
                <strong class="d-inline-block mb-2 text-primary">#{{second_post.category}}</strong>  
              </a>
              
              <h4 class="mb-0">
                <a class="text-dark" href="{% url 'posts:post' second_post.id %}">{{second_post.title}}</a>
              </h4>
              <div class="mb-1 text-muted">{{second_post.published_on}}</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="{% url 'posts:post' second_post.id %}">Continue reading</a>
            </div>
            {% if second_post.image %}
              <img class="card-post" src="{{second_post.image.url}}" alt="" width="200" height="250" style="width: 40%">
            {% endif %}
          </div>
      </div>
      {% endif %}
      {% if third_post.id %}
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <a href="{% url 'posts:filter_post' third_post.category %}">
                      <strong class="d-inline-block mb-2 text-success">#{{third_post.category}}</strong>
                    </a>
                    <h4 class="mb-0">
                      <a class="text-dark" href="{% url 'posts:post' third_post.id %}">{{third_post.title}}</a>
                    </h4>
                    <div class="mb-1 text-muted">{{third_post.published_on}}</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="{% url 'posts:post' third_post.id %}">Continue reading</a>
                  </div>
                  {% if third_post.image %}
                <img class="card-post" src="{{third_post.image.url}}" alt="" width="200" height="250" style="width: 40%">
                {% endif %}
            </div>
          </div>
        </div>
      {% endif %}

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            From WordSKill
          </h3>
          {% for post in posts%}
          <div class="blog-post">
              <a class="blog-post-title text-dark" href="{% url 'posts:post' post.id %}">{{post.title}}</a>
              {% if request.user.is_staff %}
              <a href="{% url 'posts:send_to_draft_post' post.id %}" style="padding: 8px 0px 0px 8px;color: blue;">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.261 13.666c.345.14.739-.105.739-.477V2.5a.472.472 0 0 0-.277-.437c-1.126-.503-5.42-2.19-7.723.129C5.696-.125 1.403 1.56.277 2.063A.472.472 0 0 0 0 2.502V13.19c0 .372.394.618.739.477C2.738 12.852 6.125 12.113 8 14c1.875-1.887 5.262-1.148 7.261-.334z"/>
                </svg>
                Send to Draft
              </a>
              {% endif %}

              <p class="blog-post-meta">{{post.published_on}} by <a href="#">{{post.author}}</a></p>
              {% if post.image %}
              <div class="card">
                  <img class="card-post" src="{{post.image.url}}" alt="Card image" width="656" height="400" style="width: 80%">
              </div>
              {% endif %}
              <br>
                <div class="content-overflow">                
                  <p>{{post.description|safe}}</p>                  
                </div>
                <br>            
              <div class="blog-pagination">
                <a class="btn btn-outline-primary btn-sm" href="{% url 'posts:post' post.id %}">show more</a>
              </div>
              {% render_comments post request comments_per_page=1 %}
            </div>
          {% endfor %}
          <!-- /.blog-post -->
          
      
          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="{% url 'posts:blog' %}">Older</a>
            <a class="btn btn-outline-secondary" href="#">Newer</a>
          </nav>

        </div>

        <!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">A group of people looking to make some change in the society with the power of word.</p>
          </div>

          <div class="p-3 offset-md-4">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">

              {% for year in years %}
                  <a href="{% url 'posts:years' year %}"><li>{{ year }}</li></a>
              {% endfor %}

              {% for month in months %}
                  <li><a href="{% url 'posts:months' month %}">{{ month }} {{current_year}}</a></li>
              {% endfor %}          
            </ol>
          </div>

          <div class="p-3 offset-md-4">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/nawed1111" target="_blank">GitHub</a></li>
              <li><a href="https://twitter.com/nawedanjum1" target="_blank">Twitter</a></li>
              <li><a href="https://www.facebook.com/profile.php?id=100010363471650" target="_blank">Facebook</a></li>
            </ol>
          </div>
          <div class="p-3 offset-md-4">
            <h4 class="font-italic">Subscribe</h4>
            <form>
              <ol class="list-unstyled">
              <input type="text" size="12" placeholder="Enter your email">
            </form>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

  <script type="text/javascript" src="{% static '/js/home.js' %}"></script> 
  {% endblock %}
