{% extends 'wordskill/base.html' %}
{% load crispy_forms_tags %}
	{% block head %}
		<title>wordSkill-New Post</title>
	{% endblock %}

	{% block content %}
	
	  <div class="mx-auto col-md-10">
	    <div class="card card-body">
	      <form method="POST" enctype="multipart/form-data">
	        {% csrf_token %}
	          {{form|crispy|safe}}
	          {{form.media}}
	         <div style="text-align: center;"> 
		        <input class="btn btn-outline-success" type="submit" name="" value="Submit">
		        <a href="{% url 'posts:home' %}"><button class="btn btn-outline-warning" type="submit">Cancel</button></a>
		        <a href="{% url 'posts:new_post' %}"><button class="btn btn-outline-info" type="submit">Reset</button></a>
		     </div>
	      </form>
	    </div>
	</div>
	<br>
	{% endblock %}