{% extends 'wordskill/base.html' %}
	{% block head %}
		<title>wordSkill-Post Delete</title>
	{% endblock %}
	
	{% block content %}
	 	<div class=" mx-auto col-md-8">
		    <p></p>
		    <div class="card card-body">
		   		<form action="{% url 'posts:delete_post' post.id %}" method="POST">
		   			{% csrf_token %}
		   			<h4>Are you sure you want to delete {{post.title}} ?</h4>
		   			<a class = "btn btn-sm btn-warning" href="{% url 'posts:post' post.id %}">Cancel</a>
		   			<input class="btn btn-sm btn-info" type="submit" value="Confirm">
		   		</form>
		    </div>
		 
		</div>
		<br>
	
	{% endblock %}