{% extends 'wordskill/base.html' %}
	{% block head %}
		<title>wordSkill-Publish Post</title>
	{% endblock %}

	{% block content %}
	 	<div class="col-md-8 mx-auto">
		    <p></p>
		    <div class="card card-body">
		   		<form action="{% url 'posts:publish_post' post.id %}" method="POST">
		   			{% csrf_token %}
		   			<h4>Are you sure you want to publish {{post.title}} ?</h4>
		   			<a class = "btn btn-sm btn-warning" href="{% url 'posts:drafts' %}">Cancel</a>
		   			<input class="btn btn-sm btn-info" type="submit" value="Confirm">
		   		</form>
		    </div>
		 
		</div>
		<br>
	{% endblock %}